<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в банк</title>
    <link rel="stylesheet" href="/static/css/login-style.css">
    <!--th: сверху надо удалить если че-->
</head>
<body>
<div class="login-container">
    <div class="form-box">
        <h2>админ тест</h2>
        <form action="/v1/login" method="post" class="login-form">
            <div class="form-group">
                <label for="phone_number">Номер телефона</label>
                <input type="tel" id="phone_number" name="username" placeholder="Введите ваш номер телефона" required>
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите ваш пароль" required>
            </div>

            <div th:if="${param.error}" style="color: red;">
                <p>Неверный номер телефона или пароль. Попробуйте снова.</p>
            </div>

            <button type="submit" class="submit-btn">Войти</button>
        </form>
        <div class="register-link">
            <a href="/v1/registration" class="register-btn">Регистрация</a>
        </div>
    </div>
</div>
</body>
</html>
