<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в банк</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <div class="form-box">
        <h2>Вход в банк</h2>
        <form th:action="@{/login}" method="post" class="login-form">
            <div class="form-group">
                <label for="username">Номер телефона</label>
                <input type="tel" id="username" name="username" placeholder="Введите ваш номер телефона" required>
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите ваш пароль" required>
            </div>

            <div th:if="${error}" style="color: red;">
                <p th:text="${error}"></p>
            </div>

            <button type="submit" class="submit-btn">Войти</button>
        </form>
        <div class="register-link">
            <a href="/register" class="register-btn">Регистрация</a>
        </div>
    </div>
</div>
</body>
</html>
