<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация в банке</title>
    <link rel="stylesheet" href="/static/css/registration-style.css">
</head>
<body>
<div class="registration-container">
    <div class="form-box">
        <h2>Регистрация в банке</h2>
        <form th:action="@{/v1/registration}" method="post" class="register-form">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <div class="form-group">
                <label for="firstName">Имя</label>
                <input type="text" id="firstName" name="firstName" placeholder="Введите ваше имя" required>
            </div>

            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input type="text" id="lastName" name="lastName" placeholder="Введите вашу фамилию" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Введите ваш email" required>
            </div>

            <div class="form-group">
                <label for="username">Номер телефона</label>
                <input type="tel" id="username" name="username" placeholder="Введите ваш номер телефона" required>
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль" required>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Подтвердите пароль</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Повторите пароль" required>
            </div>
            <div th:if="${error}" style="color: red;">
                <p th:text="${error}">такой пользователь уже существует</p>
            </div>
            <button type="submit" class="submit-btn">Зарегистрироваться</button>
        </form>
        <div class="login-link">
            <a th:href="@{/v1/login}" class="register-btn">Войти</a>
        </div>
    </div>
</div>
</body>
</html>
