<!DOCTYPE html>
<html lang="ru"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<h1>Страница регистрации</h1>
<form action="#" th:action="@{/registration}" th:method="post">
    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" required>
    </div>
    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" name="firstName" required>
    </div>
    <div>
        <label for="middleName">Отчество:</label>
        <input type="text" id="middleName" name="middleName" required>
    </div>
    <div>
        <label for="birthDate">Дата рождения:</label>
        <input type="date" id="birthDate" name="birthDate" required>
    </div>
    <div>
        <label for="phoneNumber">Номер телефона:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required>
    </div>
    <div>
        <button type="button" th:onclick="|window.location='@{/client}'|">Зарегистрироваться</button>
        <button type="button" th:onclick="|window.location='@{/authentication}'|">Назад</button>
    </div>
</form>
</body>
</html>
